{{#partial "content"}}
    <p>Team Name: {{team.name}}</p>
    <p>About: {{team.description}}</p>
    <p>Members:</p>
    {{#if members}}
        <ul>
            {{#each members}}
                <p>{{ name }} ---- <a href="/members/{{id}}">Member Details</a></p>
            {{/each}}
        </ul>
    {{else}}
        <p>No Members yet.</p>
    {{/if}}

    <form action="/teams/{{team.id}}" method="post">
        <label for="name">Add members</label>
        <input id="name" name="name" type="text">
        <button type="submit" class="btn btn-info">Submit</button>
    </form>

    <br><br>
    <a href="/teams/{{team.id}}/update">Edit this team</a>
    <br>
    <a href="/teams/{{team.id}}/delete">Remove this team</a>
    <br>
    <a href="/">Back</a>
    <br>

{{/partial}}

{{>layout.hbs}}